/* CSS RESET 

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* UNIVERSAL BOX SIZING RESET*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Gradient del Fondo principal*/
html{
  
  background:linear-gradient(150deg,#ffffff 40%,#066bdf);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Cuadricula Blanca*/

 body{
  width: 100%;
  height: 100%;
  background-image: 
	linear-gradient(transparent 31px,#ffffff 32px, transparent 32px),
  linear-gradient(90deg, transparent 31px,#ffffff 32px, transparent 32px);
  background-size: 100% 52px, 52px 100%;
 

}

#contenedor1{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(8,150px);

    
  grid-template-areas:  
  "Logo Logo Logo Logo Logo"
  "HeaderA HeaderA . . . "
  "Porta1 Porta1 Porta1 Porta2 Porta2"
  "Porta3 Porta3 Porta4 Porta4 Porta4"
  "Porta5 Porta5 Porta5 Porta6 Porta6"
  "Porta7 Porta7 Porta8 Porta8 Porta8"
  "Porta9 Porta9 Porta9 Porta10 Porta10"
  "Porta11 Porta11 Porta12 Porta12 Porta12"
  "PortaYT PortaYT PortaYT PortaH PortaH"
  
}

/* bloque de logo*/
#bloque1{
  grid-area: Logo;
  padding: 20px;
}

/*Header Works*/
#headerA{
  grid-area: HeaderA;
  right: 0px;
  padding-right: 10px;
}

/*Featured works*/

#Chivo{
  grid-area: Porta1;
  background-color: rgb(250, 213, 7);
}

#DemoReel{
  grid-area: Porta2;
  background-color: #0c9bdb;
}

#CodeRoom{
  grid-area: Porta3;
  background-color: #7F9B64;
}

#Plato{
  grid-area: Porta4;
  background-color: #000000;
}

#Etapas{
  grid-area: Porta5;
  background-color: #040404;
}

#Cortinilla{
  grid-area: Porta6;
  background-color: #24D3EB;
}

#Adium{
  grid-area: Porta7;
  background-color: #444443;
}

#Tortuga{
  grid-area: Porta8;
  background-color: #ffffff;
}

#Motion{
  grid-area: Porta9;
  background-color: #feff2c;
}

#Food{
  grid-area: Porta10;
  background-color: #EF536A;
}

#Foto{
  grid-area: Porta11;
  background-color: #3665AF;
}

#Nivel{
  grid-area: Porta12;
  background-color: #777777;
}

#Home{
  grid-area: PortaH;
  color: #ffffff;
  background-color: rgba(34, 149, 243, 0.699);
  margin: 10px;
  text-align: Center;
  font-family: 'Bungee';
  font-size:40px;
  padding-top: 3px;
}

#Youtube{
  grid-area: PortaYT;
  color: #ffffff;
  background-color: rgba(233, 13, 13, 0.637);
  margin: 10px;
  text-align: Center;
  font-family: 'Bungee';
  font-size:40px;
  padding-top: 3px;
}

/*extra*/

#decofin{
  grid-area: Fin;
  margin-top: 60px;
  background-color: #000000;
  bottom: 0;
}


/*Footer*/


.footA{
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: right;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'roboto';
  font-size: 12px;
}

.footB{
  position: fixed;
  left:0;
  bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 12px;
}

